/* styles.css */
table {
    boarder-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    boarder-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

.edit-link {
    color: green;
    margin-right: 5px;
}

.delete-link {
    color: red;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}